.logo {
	display: block;

	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.17;
	letter-spacing: var(--letter-spacing);

	color: #000000;

	@media screen and (min-width: 768px) {
		font-size: 26px;
		line-height: var(--line-height-auto);
	}

	&__accent {
		color: var(--accent-color);
	}

	&--inverse {
		color: var(--inverse-color);
	}
}
