.footer {
	padding-top: 60px;
	padding-bottom: 60px;

	background-color: var(--dark-bg);

	@include tab {
		&__tab-wrapper {
			@include flex(space-between);
			align-items: baseline;

			@include pc {
				gap: 70px;
			}
		}
	}

	&__wrapper {
		@include no-pc {
			& {
				margin: 0 auto;
				margin-bottom: 60px;
			}
			.mail-form& {
				margin-bottom: 0;
			}
		}
	}
}

.footer__container {
	@include no-pc {
		& {
			margin: 0 auto;
		}
	}

	@media screen and(min-width: 1200px) {
		& {
			display: flex;
			align-items: baseline;
			gap: 70px;
			max-width: 1200px;
		}
	}
}
.footer__logo {
	margin-bottom: 20px;

	@include no-pc {
		& {
			@include flex();
		}
	}
}

.footer__title {
	margin-bottom: 20px;

	font-weight: 700;
	font-size: 14px;
	line-height: var(--line-height-auto);
	letter-spacing: var(--letter-spacing);
	@extend %uppercase;

	color: var(--inverse-color);

	@include no-pc {
		text-align: center;
	}
}
