.footer {
	padding-top: 60px;
	padding-bottom: 60px;

	background-color: var(--dark-bg);

	@media screen and(min-width: 768px) {
		&__tab-wrapper {
			@include flex(space-between);
			align-items: baseline;

			@media screen and(min-width: 1200px) {
				gap: 70px;
			}
		}
	}

	&__wrapper {
		@media screen and(max-width: 1199px) {
			& {
				@include centered-col(60px);
			}
		}
	}
}

.footer__container {
	@media screen and(max-width: 1199px) {
		& {
			@include centered-col(60px);
		}
	}

	@media screen and(min-width: 1200px) {
		& {
			display: flex;
			align-items: baseline;
			gap: 70px;
			max-width: 1200px;
		}
	}
}
.footer__logo {
	margin-bottom: 20px;

	@media screen and(max-width: 1199px) {
		& {
			@include flex();
		}
	}
}

.footer__title {
	margin-bottom: 20px;

	font-weight: 700;
	font-size: 14px;
	line-height: var(--line-height-auto);
	letter-spacing: var(--letter-spacing);
	@extend %uppercase;

	color: var(--inverse-color);

	@media screen and(max-width: 1199px) {
		text-align: center;
	}
}
