@include pc {
	.mail-form {
		margin-left: auto;
		margin-bottom: 0;
	}
}

//@include pc {
// 	.footer__wrapper {
// 		@include flex;
// 	}
// }
@include pc {
	.mail-form__wrapper {
		display: flex;
	}
}

// &__primary-btn {
// 	padding: 10px 28px;
// }

.primary-btn__icon--append {
	margin-left: 10px;
}

.mail-form__email {
	display: block;
	padding: 14px 0 14px 16px;
	margin: 0 auto;
	margin-bottom: 20px;
	width: 100%;

	font-size: 16px;
	line-height: 1.25;
	letter-spacing: var(--letter-spacing);

	color: rgba(255, 255, 255, 0.6);
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	@include transition(outline);

	&:focus {
		outline: 1px solid var(--accent-color);
	}
	&::placeholder {
		@include transition();
	}
	&:focus::placeholder {
		color: var(--accent-color);
	}
	@include mob {
		& {
			width: 450px;
		}
	}
	@include pc {
		& {
			margin-right: 12px;
			margin-bottom: 0;
			width: 358px;
		}
	}
}
