.header {
	border-bottom: 1px solid #ececec;

	&__container {
		display: flex;
		align-items: center;
		height: 60px;

		@include tab {
			height: 80px;
		}
	}
}

.nav__list {
	display: none;

	@include tab {
		display: flex;
		gap: 50px;
	}
	@include pc {
		gap: 53px;
	}
}

.nav {
	display: flex;
	align-items: center;

	&__logo {
		margin-right: 87px;
		padding-top: 26px;
		padding-bottom: 26px;

		@include pc {
			margin-right: 93px;
			padding-top: 24px;
			padding-bottom: 24px;
		}
	}

	@include tab {
		&__item {
			display: flex;
			align-items: center;
		}
		&__link {
			position: relative;
			padding: 32px 0;

			font-weight: 500;
			font-size: 14px;
			line-height: 1.14;
			letter-spacing: 0.02em;
			color: currentColor;
			@include transition();

			&:hover,
			&:focus {
				color: var(--accent-color);
			}
		}
		&__link::after {
			content: "";
			position: absolute;
			bottom: -1px;
			display: block;

			width: 100%;
			height: 4px;

			background-color: var(--accent-color);
			border-radius: 2px;

			transform: scaleX(0);
			@include transition(transform);
		}
		&__link:hover::after,
		&__link:focus::after {
			transform: scaleX(1);
		}
		&__link--active {
			color: var(--accent-color);

			&::after {
				transform: scaleX(1);
			}

			&:hover::after,
			&:focus::after {
				animation: 250ms scale 1 normal cubic-bezier(0.4, 0, 0.2, 1);
			}
		}
		@keyframes scale {
			0% {
				transform: scaleX(0);
			}
			100% {
				transform: scaleX(1);
			}
		}
	}
}
.contacts {
	display: none;

	@include tab {
		display: grid;
		gap: 10px;
		margin-left: auto;
		@include pc {
			@include grid();
		}

		&__link {
			display: inline-flex;
			align-items: center;

			font-weight: 500;
			font-size: 12px;
			line-height: var(--line-height-auto);
			letter-spacing: 0.02em;

			color: var(--second-color);
			@include transition();

			@include pc {
				padding: 32px 0;
				font-size: 14px;
			}

			&:hover,
			&:focus {
				color: var(--accent-color);
			}
		}
		@include no-pc {
			&__email {
				width: 14px;
				height: 10px;
			}
			&__phone {
				width: 10px;
				height: 14px;
			}
		}

		&__icon--left {
			margin-right: 8px;

			@include pc {
				margin-right: 10px;
			}
		}
	}
}

//
// }
