:root {
	--main-color: #212121;
	--inverse-color: #fff;
	--second-color: #757575;
	--icon-color: #afb1b8;
	--accent-color: #2196f3;
	--button-hover: #188ce8;

	--light-bg: #fff;
	--grey-bg: #f5f4fa;
	--dark-bg: #2f303a;

	--letter-spacing: 0.03em;
	--big-letter-spacing: 0.06em;
	--line-height-auto: 1.2;

	--hero-gradient: linear-gradient(180deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%);
}
